{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <div class="main" role="main">
        {{ content }}
    </div>
    <img src="assets/img/me.jpeg" alt="en bild på mig">
    
    {% include 'incl/footer.twig' %}
</body>

</html>
