$font-color: #000;
$font-alternative-color: #fff;
$accent-color: #ee6c4d;
$background-color: #c9fce3;
$background-alternative-color: #e0fbfc;
$header-background-color: #444;
$footer-background-color: #444;
$footer-text-color: #c9fce3;
$links-color: #c9fce3;
$main-font-size: 1.25em;
$main-line-height: 1.4;
$magic-number: $main-font-size * $main-line-height;
$hover-color: rgb(207, 89, 89);
